/* style.css */
.hero-img {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("../assets/hero-bg.jpg");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.form-secton,
label {
  color: black;
  font-size: 18px;
  text-transform: capitalize;
}

.form-secton,
input,
textarea {
  border: 1px solid;
}

@media screen and (min-width: 360px) {
  * {
    overflow-x: hidden;
  }

  .hero-img {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url("../assets/hero-bg.jpg");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
  }

  .home-section {
  }

  .home-section > button {
    padding: 7px 10px;
    margin-right: 10%;
    margin-top: 10%;
    font-size: 1.4rem;
    cursor: pointer;
  }

  .home-section > div {
    padding: 0px;
  }

  .home-section > div > h1 {
    font-size: 1.5rem;
    padding: 1px;
  }

  .home-section > div > p {
    font-size: 15px;
  }

  .form-secton,
  label {
    color: black;
    font-size: 18px;
    text-transform: capitalize;
  }

  .form-secton,
  input,
  textarea {
    border: 1px solid;
  }

  .navbar-div {
    max-width: 100vw;
    min-height: auto;
  }

  .navbar-div > nav {
    width: 100vw;
    height: 100vh;
  }

  .navbar-div > nav > img {
    object-fit: cover;
    width: 6rem !important;
    height: 100px;
    border-radius: 50%;
  }

  .navbar-div > nav > h2 {
    font-size: 1.5rem;
    padding: 8px;
  }

  .navbar-div > nav > div {
    gap: 15px;
  }

  .navbar-div > nav > div > ul {
    gap: 17px;
    padding: 10px;
  }

  .navbar-div > nav > div > ul > li {
    padding: 10px 40px;
  }

  .navbar-div > nav > div > ul > li > a {
    font-size: 15px;
  }

  .navbar-div > nav > div > ul > li > a:hover {
    color: white;
  }

  .flaticon-div {
    padding: 6px;
  }

  .flaticon-div > a {
  }

  .flaticon-div > a > img {
    width: 30px !important;
    height: 30px;
    color: white;
  }
  .btn01 {
}
.hide {
}

.remove{
}

}

@media screen and (min-width:768px) {
.hero-img {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("../assets/hero-bg.jpg");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: cover;
  background-position-x:5rem;
}


}
.btn01 {
}
.hide {
}

.remove{
}


