.hero-img{
	background: linear-gradient(rgba(0 , 0, 0, 0.1),rgba(0, 0, 0, 0.1)),url('../assets/hero-bg.jpg'); 
	width: 100vw;
	height:100vh;
	background-size: cover;
	background-position: center;
}

.form-secton , label {
	color: black;
	font-size: 18px;
	text-transform: capitalize;


}
.form-secton , input , textarea {
	border: 1px solid;
}